@{
    ViewData["Title"] = "Intro";
}



<div class="text-center">
    <h1 class="display-4">Welcome to the Intro side</h1>
</div>

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <input type="submit" value="move" />
</form>
