@{
    ViewData["Title"] = "Login";
}

<br />
<br />
<br />

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <label>
        Username:
        <input type="text" name="username" value="" placeholder="Username" />
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="password" value="" />
    </label>
    <br />
    <input type="hidden" name="formID" value="login" />
    <input type="submit" value="Login" />
</form>
